<head>
  <link rel="stylesheet" href="/static/character.css">

</head>

<h1 class="title-class" id="title">
Make A Character!
</h1>

<p class="change-name-class">
New Name: <input id="characterNameEntry"> <br> <br>
  
<button class="name-button-class" onclick="changeName()" id="changeName">
  Change Name
</button> <br>

</p>

<p class="change-stats-class" id="changeStatsPortion">
<button class="description-button-class" onclick="changeStats()" id="changeStats">
   Change Character Stats
</button> <br> <br>
</p>

<p class="character-name" id="characterName">
  No Character Name <br> 
</p>

<p class="character-description" id="characterDescription">
  No Character Description
  <script src="/static/character.js"></script>
</p>
