<head>
  <link rel="stylesheet" href="/static/character.css">

  <script src="/static/character.js"></script>
</head>

<h1 class="title-class" id="title">
Create A Character!
</h1>

<p class="change-name-class" id="changeNamePortion">
New Name: <input id="character-name"> <br> <br>

<button onclick="changeName()" id="changeName">
  Change Name
</button> <br> <br>

</p>

<p class="change-stats-class" id="changeStatsPortion">
<button onclick="changeStats()" id="changeStats">
   Change Character Stats
</button>
</p>
